.footer-container {
    background-color: rgba(0, 0, 0, 0.838);
    margin-top: 80px;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-container h2 {
    color: white;
}